@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Sarala&display=swap');

ul {
    display: grid;
    grid-template-columns: 18.7% 18.7% 18.7% 18.7% 18.7%;
    grid-column-gap: 10px;
    margin: 0 auto;
    min-width: 48%;
    max-width: 50%;
    background-color: #fff;
    padding: 30px;
}

img {
    width: 4em;
}

