@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Sarala&display=swap');
@import './assets/css/FiveDayForecast.css';

body {
    background-color: #426588;
    margin: 0 auto;
    padding: 0;
}

.initial-form {
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
    grid-column-gap: 22px;
    margin: 0 auto;
    max-width: 50%;
    max-height: fit-content;
}

.zip-code {
    font-size: 22px;
    color:#fff;
    font-weight: 900;
}

.type-zip {
    background-color: #75afc8;
    max-height: 1.5em;
    margin-top: 22px;
    border-radius: 15px;
    padding-left: 10px;
    font-size: 15px;
    color: #fff;
}

.submit-button {
    background-color: #75afc8;
    max-height: 2em;
    margin-top: 21px;
    border-radius: 15px;
    font-size: 15px;
    color: #fff;
    font-weight: 900; 
}

.current {
    margin: 0 auto;
    max-width: 50%;
    color: #fff;;
}

.actual-conditions {
    margin: 0 auto;
    max-width: 50%;
    color: #fff; 
}





